/* You can add global styles to this file, and also import other style files */
:root {
  --font-primary: 'Roboto', sans-serif;      /* Default font */
  --font-secondary: 'Poppins', sans-serif; /* Secondary font */
  --font-tertiary: 'Montserrat', serif;            /* Tertiary font */
  --special-font-1: "Playwrite IT Moderna", serif;


  --primary-color: #e67700;  /* Primary (Default) */
  --secondary-color: #212529; /* Secondary */
  --accent-color: #2b8a3e;  /* Accent */
  --background-color: #343a40; /* Background */
  --text-color: #f8f9fa; /* Main Text */


}

body {
  font-family: var(--font-primary), serif; /* Default font for the whole website */
}
