.secondary-font {
  font-family: var(--font-secondary), sans-serif;
}

.tertiary-font {
  font-family: var(--font-tertiary), sans-serif;
}

.special-font-1 {
  font-family: var(--special-font-1), sans-serif;
}
